{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{% if alldesignation%}
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'adddesignation' %}" class="text-dark">add designation</a>
</button>
<div class="table-responsive">
    <table class="table table-striped table-hover mt-4">
    <thead>
        <tr>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    	{% for alldesign in alldesignation%}
        <tr>
            <td>{{alldesign.title|capfirst }}</a></td>
            <td><a href="{% url 'updatedesignation' alldesign.id%}" class="btn btn-primary btn-sm">update</a></td>
            <td><a href="{% url 'deletedesignation' alldesign.id %}" class="btn btn-danger btn-sm">delete</a></td>            
        </tr>
           {%endfor%}              
    </tbody>
</table>
</div>
{%else%}
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'adddesignation' %}" class="text-dark">add designation</a>
</button>
{%endif%}
{%endblock%}