{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{%if listTeacher%}
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'addTeacher' %}" class="text-dark">add teacher</a>
</button>
<div class="table-responsive">
    <table class="table table-striped table-hover mt-4">
<thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Date Of Appointment</th>
        <th>Gender</th>
        <th>Designation</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
	{% for Teacher in listTeacher%}
    <tr>
        <td>{{Teacher.user.first_name|capfirst}}</td>
        <td>{{Teacher.user.last_name|capfirst}}</td>
        <td>{{Teacher.user.phone}}</td>
        <td>{{Teacher.user.email}}</td>
        <td>{{Teacher.date_of_appointment}}</td>
        <td>{{Teacher.gender|capfirst}}</td>
        <td>{{Teacher.designation|capfirst}}</td>
        <td><a href="{% url 'updateTeacher' Teacher.id%}" class="btn btn-primary btn-sm">Update</a></td>
        <td><a href="{% url 'deleteTeacher' Teacher.id%}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
       {%endfor%}              
</tbody>
</table>
</div>
{%else%}
<h1>There are no teachers in the system</h1>
<p>
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'addTeacher' %}" class="text-dark">add teacher</a>
</button>
</p>
{%endif%}
{%endblock%}
