{% extends 'student/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% if allstream %}
    <h1>Choose a Stream to Take Attendance</h1>
    <div class="row">
        {% for stream in allstream %}
            {% include 'student/divup.html' %}
            <a href="{% url 'student:takeattandance' name stream %}">{{ stream }}
            </a>
            {% include 'student/divdown.html' %}
        {% endfor %}
    </div>
{% else %}

<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'student:addstreams' %}" class="text-dark">Add Streams</a>
</button>
    <p>To take attendance, streams need to be added.</p>
{% endif %}
{% endblock %}
