{% extends 'student/base.html' %}
{%block title%}{{title}}{%endblock%}
{%block content%}
{%if allclasses%}
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'student:addclasses' %}" class="text-dark">Add class</a>
</button>
{% for class in allclasses %}
<li>
  {{class}}
</li>
{%endfor%}
{%else%}
add class
{%endif%}
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'student:addclasses' %}" class="text-dark">Add classs</a>
</button>
{%endblock%}