{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{% if allclasses%}
    <h1>choose a class to take a attendance</h1>
    {%for class in allclasses%}
    <div class="col-xxl-4 col-xl-12">
        <div class="card info-card customers-card">
          <div class="card-body">
            <h5 class="card-title">class</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-house"></i>
              </div>
              <div class="ps-3">
                <h6><a href="{% url 'student:takeattendancestream' class %}">{{class}}</a></h6>
              </div>
            </div>

          </div>
        </div>
      </div>
    {%endfor%}
{%else%}
<a href="{% url 'student:addclasses' %}">add class</a>
<p>so that you can take attendance</p>
{%endif%}
{%endblock%}
