{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{%if allclasses%}
    <h1>please choice a class to enter result</h1>
    {%for class in allclasses%}
    {%if forloop.counter|divisibleby:2%}
   <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'student:enterstreamresult' class%}">{{class}}</a></h5>
                <div>
                  <p>next choice a stream</p>
                </div>
              </div>
            </div>
      </div>
  {%else%}
        <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'student:enterstreamresult' class%}">{{class}}</a></h5>
                <div>
                  <p>next choice to enter stream</p>
                </div>       
              </div>
            </div>
          </div>
  </div>
  {%endif%}
    {%endfor%}
{%else%}
<a href="{% url 'student:addclasses' %}">add classes </a>
{%endif%}
{%endblock%}
