{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{%if allclasses%}
    <h1>please choice a class to enter result</h1>
  <div class="row">
        {%for class in allclasses%}
            {% include 'student/divup.html' %}
            <a href="{% url 'student:enterstreamresult' class%}">{{class}}</a>
            {% include 'student/divdown.html' %}
        {% endfor %}
    </div>
{%else%}
{% include 'student/buttonaddclass.html' %}
{%endif%}
{%endblock%}