{% extends 'student/base.html'%}
{%block title%}
{{title}}
{%endblock title%}
{% block content%}
<p><a href="{% url 'result:allGrade' %}">allGrade</a></p>
<p><a href="{% url 'result:allsubject' %}">all subject</a></p>
<p><a href="{% url 'result:allterm' %}">all term</a></p>
<p><a href="{% url 'result:enrollclasses' %}">enroll student to subjects</a></p>
<p><a href="">all users</a></p>
<p><a href="{% url 'student:stream' %}">all stream</a></p>
<p><a href="{% url 'student:allclasses' %}">all classes</a></p>
{%endblock content%}

