{% extends 'student/base.html' %}
{% block content%}
<div class="row">
{% include 'student/divup.html' %}
  <a href="{% url 'result:allGrade' %}">allGrade</a>
{% include 'student/divdown.html' %}
{% include 'student/divup.html' %}
  <a href="{% url 'result:allsubject' %}">all subject</a>
{% include 'student/divdown.html' %}
{% include 'student/divup.html' %}
  <a href="{% url 'result:allterm' %}">all term</a>
{% include 'student/divdown.html' %}
{% include 'student/divup.html' %}
  <a href="{% url 'result:enrollclasses' %}">enroll student to subjects</a>
{% include 'student/divdown.html' %}
{% include 'student/divup.html' %}
  <a href="">all users</a>
{% include 'student/divdown.html' %}
{%if stream%}
{% include 'student/divup.html' %}
  <a href="{% url 'student:stream' %}">all stream</a>
{% include 'student/divdown.html' %}
{%endif%}
{%if allclasses%}
{% include 'student/divup.html' %}
<a href="{% url 'student:allclasses' %}">all classes</a>
{%endif%}
{% include 'student/divdown.html' %}
{% include 'student/divup.html' %}
<a href="{% url 'result:studentenrolledsubjects' %}">subjects enrolled by student</a>
{% include 'student/divdown.html' %}
</div>
{%endblock content%}

