<div class="form-group">
    <label for="selected_class">Class:</label>
    <div class="d-flex align-items-center">
        <select class="form-control mr-2" id="selected_class" name="selected_class" required>
            <option value="" disabled selected style="display:none;">Select class</option>
            {% if getclasses %}
                {% for class in getclasses %}
                    <option value="{{ class.name }}">{{ class.name }}</option>
                {% endfor %}
            {% else %}
                <option value="" disabled>No classes available</option>
            {% endif %}
        </select>
    </div>
</div>
