{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{%if allstream%}
    <button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'student:addstreams' %}" class="text-dark">add streams</a>
</button>
    {%for stream in allstream%}
    <li>{{stream}}</li>
    {%endfor%}
{%else%}

<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'student:addstreams' %}" class="text-dark">add streams</a>
</button>
{%endif%}
{%endblock%}
