{% extends 'student/base.html' %}
{% load custom_tags%}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<div class="col-lg-6 col-md-6 col-sm-12 w-100">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <p class="mb-0">Total students in school: {{ student_count }}</p>
            <p class="mb-0">Total teachers in school: 0</p>
            </h5>
        </div>
    </div>
</div>             
{% if allclasses %}
<div class="row">
    {% for class in allclasses %}
    {% include 'student/divup.html' %}
        <a href="{% url 'student:classstudent' class %}" class="btn btn-primary">{{ class }}</a>
    {% include 'student/divdown.html' %}
    {% endfor %}
</div>
<div class="row">
    {% for stream in allstream %}
    {% include 'student/divup.html' %}
        <a href="{% url 'student:streamstudent' name stream %}" class="btn btn-primary">{{ stream }}</a>
    {% include 'student/divdown.html' %}
    {% endfor %}
</div>
{% if request.user|has_group:"Teacher" or request.user|has_group:"Admin" %}
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'student:addstudent' %}" class="text-dark">Add Student to the System</a>
</button>
{%endif%}
{% else %}
{%if request.user|has_group:"Teacher" or request.user|has_group:"Admin"%}
{% include 'student/buttonaddstudent.html' %}
{%endif%}
<p>To take attendance, streams need to be added.</p>
{% endif %}
{% endblock %}
