{% extends 'student/base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
{% if student %}
<div class="row">
    {% for class in allclasses %}
    {% include 'student/divup.html' %}
        <a href="{% url 'student:classstudent' class %}" class="btn btn-primary">{{ class }}</a>
    {% include 'student/divdown.html' %}
    {% endfor %}
</div>
<div class="row">
    {% for stream in allstream %}
    {% include 'student/divup.html' %}
        <a href="{% url 'student:streamstudent' name stream %}" class="btn btn-primary">{{ stream }}</a>
    {% include 'student/divdown.html' %}
    {% endfor %}
</div>
{% include 'student/buttonaddstudent.html' %}
<div class="table-responsive">
    <table class="table table-striped table-hover mt-4">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Admission No</th>
                <th>Date of Birth</th>
                <th>Date of Admission</th>
                <th>Class</th>
                <th>Stream</th>
                <th>Gender</th>
                <th>Year</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in student %}
            <tr>
                <td>
                    {% if name %}
                    <a href="{% url 'result:student-detail' name detail.id %}">{{ detail.first_name }}</a>
                    {% else %}
                    {{ detail.first_name }}
                    {% endif %}
                </td>
                <td>{{ detail.middle_name }}</td>
                <td>{{ detail.Admin_no }}</td>
                <td>{{ detail.date_of_birth }}</td>
                <td>{{ detail.date_of_admission }}</td>
                <td>{{ detail.class_name }}</td>
                <td>{{ detail.stream }}</td>
                <td>{{ detail.gender }}</td>
                <td>{{ detail.year }}</td>
                <td><a href="{% url 'student:updatestudent' detail.id %}" class="btn btn-primary btn-sm">Update</a></td>
                <td><a href="{% url 'student:delete_student' detail.id %}" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
{% include 'student/buttonaddstudent.html' %}
<p>To take attendance, streams need to be added.</p>
{% endif %}
{% endblock %}
