{% extends 'student/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<form method="post" class="form-inline">
    {% csrf_token %}
    <p>choice a class</p>
    <div class="form-group">
        <select class="form-control" name="selected_class">
            <option value=""></option>
            {% for class in getclasses %}
                <option value="{{ class.name }}">{{ class.name }}</option>
            {% endfor %}
        </select>
    </div>
    {%if getstream %}
    <p>choice a stream</p>
    <div class="form-group">
        <select class="form-control" name="selected_stream">
            <option value=""></option>
            {% for stream in getstream %}
                <option value="{{ stream.name }}">{{ stream.name }}</option>
            {% endfor %}
        </select>
    </div>
    {%endif%}
    {%if getsubjects %}
    <p>choice a subject</p>
    <div class="form-group">
        <select class="form-control" name="selected_subject">
            <option value=""></option>
            {% for subject in getsubjects %}
                <option value="{{ subject.name }}">{{ subject.name }}</option>
            {% endfor %}
        </select>
    </div>
    {%endif%}
    {%if getterms %}
    <p>choice a term</p>
    <div class="form-group">
        <select class="form-control" name="selected_term">
            <option value=""></option>
            {% for term in getterms %}
                <option value="{{ term.name }}">{{ term.name }}</option>
            {% endfor %}
        </select>
    </div>
    {%endif%}
    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
</form>

{% endblock %}
