{% extends 'student/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<form method="post" class="form-inline">
    {% csrf_token %}
    {% include 'student/selected_class.html'%}
    <div class="form-group">
    <label for="selected_stream">Stream:</label>
    <div class="d-flex align-items-center">
        <select class="form-control mr-2" id="selected_stream" name="selected_stream">
            <option value=""></option>
            {% for stream in getstream %}
                <option value="{{ stream.name }}">{{ stream.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
</form>
{% endblock %}
