{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{% if attend%}
<div class="table-responsive">
<table class="table table-striped table-hover mt-4">
<thead>
    <tr>
        <th>Student </th>
        <th>Class</th>
        <th>Date</th>
        <th>Present Status</th>
        <th>Reason</th>
        <th>Update</th>
        <th>delete</th>
    </tr>
</thead>
<tbody>
	{% for student in attend%}
    <tr>
        <td>{{student.student|capfirst }}</td>
        <td>{{student.class_name|capfirst }}</td>
        <td>{{student.dateattend }}</td>
        <td>{{student.present_status|capfirst }}</td>
        <td>{{student.absentwhy|capfirst }}</td>
        <td><a href="{% url 'student:updateattend' student.id %}" class="btn btn-primary btn-sm">update</a></td>
        <td><a href="{% url 'student:deleteattend' student.id %}" class="btn btn-danger btn-sm">delete</a></td>
    </tr>
       {%endfor%}              
</tbody>
</table>
</div>
{%else%}
<h1>no attendances have been taken</h1>
{%endif%}
{%endblock%}
