{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{%if allclasses%}
  <h1>choose a class to view attendance</h1>
 <div class="row">
        {% for class in allclasses %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'student:viewattendancestream' class %}">{{class}}</a></h5>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{%else%}
<a href="{% url 'student:addclasses' %}">add classes </a>
{%endif%}
{%endblock%}

