{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{%if allstream%}
<h1>choose a stream to view attendance</h1>
    <div class="row">
        {% for stream in allstream %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'student:viewattendanceperstream' name stream%}">{{stream}}</a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{%else%}
<a href="{% url 'student:addstreams' %}">add stream</a>
{%endif%}
{%endblock%}