{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{%if getParents%}
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'parent:addparent' %}" class="text-dark">add parent</a>
</button>
<table class="table">
<thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Id No</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Physical Adddress</th>
        {% if request.user %}
        <th>Update</th>
        <th>Delete</th>
        {%endif%}
    </tr>
</thead>
<tbody>
	{% for parent in getParents%}
    <tr>
        <td>{{parent.user.first_name}}</td>
        <td>{{parent.user.last_name}}</td>
        <td>{{parent.Idno}}</td>
        <td>{{parent.phonenumber}}</td>
        <td>{{parent.user.email}}</td>
        <td>{{parent.physical_add}}</td>
        <td><a href="{% url 'parent:updateparent' updateparent.id %}" class="btn btn-primary btn-sm">update</a></td>
        <td><a href="{% url 'parent:delparent' delparent.id %}" class="btn btn-danger btn-sm">delete</a></td>
    </tr>
       {%endfor%} 

</tbody>
</table>
{%else%}
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'parent:addparent' %}" class="text-dark">add parent</a>
</button>
{%endif%}
{%endblock%}

