{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{%if getParents%}
<div class="table-responsive">
    <table class="table table-striped table-hover mt-4">
<thead>
    <tr>
        <th>Parents</th>
        <th>student</th>
        <th>update parent</th>
        <th>delete parent</th>
    </tr>
</thead>
<tbody>
	{% for parent in getParents%}
    <tr>
        <td>{{parent.parent}}</td>
        <td>{{parent.student}}</td>
        <td><a href="{% url 'parent:updateparent' parent.id %}" class="btn btn-primary btn-sm">update</a></td>
        <td><a href="{% url 'parent:delparent' parent.id %}" class="btn btn-danger btn-sm">delete</a></td>
    </tr>
       {%endfor%} 
</tbody>
</table>
</div>
{%else%}
<a href="">add parent</a>
{%endif%}
{%endblock%}

