{% extends 'student/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
{%if eventlist%}
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'event:event' %}" class="text-dark">add event</a>
</button>
<div class="table-responsive">
    <table class="table table-striped table-hover mt-4">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
	{% for events in eventlist%}
    <tr>
        <td>{{events.name|capfirst}}</td>
        <td>{{events.description|capfirst}}</td>
        <td>{{events.dateevents}}</td>
        <td><a  href="{% url 'event:updateevent' events.id%}" class="btn btn-primary btn-sm">Update</a></td>
        <td><a href="{% url 'event:deleteevent' events.id%}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
       {%endfor%}              
</tbody>
</table>
</div>
{%else%}
<h1>there are no events</h1>
<button type="button" class="btn btn-outline-primary mt-3">
    <a href="{% url 'event:event' %}" class="text-dark">add event</a>
</button>
{%endif%}
{%endblock%}